<form [formGroup]="anioEscolarForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">

    <div class="row espacio">
        <div class="col-md-6">
            <div class="form-group" [ngClass]="campoValido('nombre')?'has-error':''">
               
                <label class="control-label">Nombre</label>
                <input type="year" class="form-control" formControlName="nombre" />
                <ng-container *ngIf="campoValido('nombre')" class="text-danger">
                    <span class="error-message">{{ mensajeError("nombre") }}</span>
                </ng-container>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group " [ngClass]="campoValido('fecha_inicio')?'has-error':''">
                <label class="control-label">Fecha inicio*</label>
                <input type="date" class="form-control" formControlName="fecha_inicio" required />
                <ng-container *ngIf="campoValido('fecha_inicio')" class="text-danger">
                    <span class="error-message">{{ mensajeError("fecha_inicio") }}</span>
                </ng-container>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group " [ngClass]="campoValido('fecha_fin')?'has-error':''">
                <label class="control-label">Fecha inicio*</label>
                <input type="date" class="form-control" formControlName="fecha_fin" required />
                <ng-container *ngIf="campoValido('fecha_fin')" class="text-danger">
                    <span class="error-message">{{ mensajeError("fecha_fin") }}</span>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" [disabled]="anioEscolarForm.invalid"
            class="pull-right"
                [ngClass]="accionHijo == 'Actualizar' ? 'btn btn-fill btn-info' : 'btn btn-fill btn-success'">
                Guardar</button>
        </div>
    </div>


</form>