
    <form [formGroup]="recursoForm" (ngSubmit)="onSubmit()">
<div class="modal-header">
    <h4 class="modal-title pull-left">{{accionHijo}} Recurso</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="ocultarModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

        <input type="hidden" formControlName="id">

        <div class="row" *ngIf="tipoRecursoId!=='1' && recursoHijo.id!==null">
            <div class="col-md-12">
                <div class="form-group label-floating" [ngClass]="campoValido('tipo_recurso_id')?'has-error':''">
                    <label class="control-label">Tipo de Recurso*</label>
                    <select (change)="actualizarLista($event)" formControlName="tipo_recurso_id"  class="selectpicker" data-style="select-with-transition"
                        data-size="7">
                        <option disabled selected value="">Seleccione</option>
                        <option  value="1">Archivo</option>
                        <option value="2">Link</option>
                    </select>
                    <ng-container *ngIf="campoValido('tipo_recurso_id')" class="text-danger">
                        <span class="error-message">{{ mensajeError("tipo_recurso_id") }}</span>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group label-floating" [ngClass]="campoValido('formato_id')?'has-error':''">
                    <label class="control-label">Formato*</label>
                    <select  formControlName="formato_id" class="selectpicker" data-style="select-with-transition"
                        data-size="7">
                        <option disabled selected value="">Seleccione</option>
                        <option [value]="formato.id" *ngFor="let formato of formatos">{{formato.nombre}}
                        </option>
                    </select>
                    <ng-container *ngIf="campoValido('formato_id')" class="text-danger">
                        <span class="error-message">{{ mensajeError("formato_id") }}</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-floating" [ngClass]="campoValido('titulo')?'has-error':''">
                    <label class="control-label">Titulo*</label>
                    <input type="text" formControlName="titulo" class="form-control" />
                    <ng-container *ngIf="campoValido('titulo')" class="text-danger">
                        <span class="error-message">{{ mensajeError("titulo") }}</span>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-12">
                <div *ngIf="tipoRecursoId==='1' && recursoHijo.id===null " class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-preview fileinput-exists">{{recursoHijo.contenido}}</div>
                    <div>
                        <span class="btn btn-round btn-rose btn-file">
                            <span class="fileinput-new">Archivo</span>
                            <span class="fileinput-exists">Cambiar</span>
                            <input #file type="file" formControlName="contenido" required />
                        </span>
                        <br />
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                                class="fa fa-times"></i> Quitar</a>
                    </div>
                </div>
                <div *ngIf="tipoRecursoId==='2'" class="form-group label-floating" [ngClass]="campoValido('contenido')?'has-error':''">
                    <label class="control-label">Link*</label>
                    <input type="text" formControlName="contenido" class="form-control" />
                    <ng-container *ngIf="campoValido('contenido')" class="text-danger">
                        <span class="error-message">{{ mensajeError("contenido") }}</span>
                    </ng-container>
                </div>
                <ng-container *ngIf="campoValido('contenido')" class="text-danger">
                    <span class="error-message">{{ mensajeError("contenido") }}</span>
                </ng-container>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button [disabled]="recursoForm.invalid" class="btn btn-fill btn-info pull-right">
        {{accionHijo}}
    </button>
    <button class="btn btn-simple" (click)="ocultarModal()" type="button">Cancelar<div class="ripple-container">
            <div class="ripple ripple-on ripple-out"></div>
        </div></button>
</div>

</form>

