
.btn-contenido .btn {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
} 

.btn-contenido{
    top: 1px;
}

.title-contenido{
    position: relative;
    padding-bottom: 5em;
}