
    <app-carga *ngIf="cargando"></app-carga>
    <ng-container *ngIf="!cargando">

            <div class="col-md-12">
                <h5 class="car-tittle">{{aulaEnCursoEstudiantesHijo[0].cantidad_estudiantes}} de {{aulaEnCursoEstudiantesHijo[0].capacidad}}</h5>
            </div>
        

        <div class="col-md-3 tarjeta-espacio" *ngFor="let estudiante of aulaEnCursoEstudiantesHijo">

        <div class="card card-profile card-hidden">
            <div class="card-avatar">
                <a href="javascript:void(0);">
                    <img *ngIf="estudiante.foto==='' || estudiante.foto ===null || estudiante.foto ==null" class="avatar" src="../../../../../../assets/img/faces/default-user.png" alt="foto local">

                    <img *ngIf="estudiante.foto!=='' && estudiante.foto !==null && estudiante.foto !=null" class="avatar" [src]="url+estudiante.foto" alt="Foto del estudiante url">

                </a>
            </div>
            <div class="card-content">
                <h4 class="card-title">{{estudiante.estudiante}}</h4>
                <p class="description">
                    {{ estudiante.email }}
                </p>
                <p class="description">
                    {{ estudiante.edad }}
                </p>
            </div>
            <div class="card-footer">
                <button (click)="eliminar(estudiante)" class="btn btn-danger btn-simple btn-mini btn-sm" rel="tooltip" type="button" data-original-title="Eliminar" title="Eliminar">
                    <i class="material-icons">close</i>
                </button>
            </div>
        </div>
    </div>
    </ng-container>