<!-- foro -->
<div class="row">
    <form *ngIf="tipoVisnieto===4 && estadoNieto!=='_off'" [formGroup]="actividadForoUsuarioForm"
        (ngSubmit)="onSubmit()">
        <div class="col-md-12">
            <div class="form-group label-floating" [ngClass]="campoValido('respuesta')?'has-error':''">
                <label class="control-label">Respuesta*</label>
                <quill-editor [modules]="editorOptions" formControlName="respuesta">
                </quill-editor> 
                <ng-container *ngIf="campoValido('respuesta')" class="text-danger">
                    <span class="error-message">{{ mensajeError("respuesta") }}</span>
                </ng-container>
            </div>
        </div>
        <div class="col-md-12">
            <button [disabled]="actividadForoUsuarioForm.invalid" class="btn btn-info pull-right"
                type="submit">Responder<div class="ripple-container">
                </div>
            </button>
        </div>
    </form>
    <!-- foro -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <button *ngIf="tipoVisnieto!==4" type="button" title="Información" class="btn btn-fill btn-info pull-right" (click)="openModalInfo()">
                    Información                        </button> 
                <div class="card-title">
                    Respuestas
                      
                        </div>
            </div>

            <div class="card-body">
               
                <div class="col col-md-12 pre-scrollable card-content">
                    <app-carga *ngIf="cargando"></app-carga>
                    <ng-container *ngIf="!cargando">
                        <div class="card" *ngFor="let foroUsuario of foroUsuarios">
                            <div class="card-header">
                                <span class="card-title">{{foroUsuario.estudiante}}</span><br>
                                <small class="card-description">
                                    {{foroUsuario.fecha | date: 'M/d/yy, h:mm a'}}
                                </small>
                            </div>
                            <div [innerHTML]="foroUsuario.respuesta" class="card-content">
                            </div>
                            <div class="card-footer">
                                    <rating [readonly]="usuarioResponseHijo.tipo===3?false:true" class="card-description" [max]="5"
                                        (click)="actualizarValoracion(foroUsuario)"
                                        [(ngModel)]="foroUsuario.valoracion"></rating>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
           
        </div>
    </div>
</div>