<div class="row">
    <app-carga *ngIf="cargando"></app-carga>
    <ng-container *ngIf="!cargando">

        <div class="col-md-4 espacio"
            *ngFor="let aulaEnCurso of aulasEnCursoHijo | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0);" (click)="irAula(aulaEnCurso)">
                        <img *ngIf="aulaEnCurso.foto==='' || aulaEnCurso.foto ===null || aulaEnCurso.foto ==null"
                            class="avatar" src="../../../../../../assets/img/faces/default-user.png" alt="foto local">

                        <img *ngIf="aulaEnCurso.foto!=='' && aulaEnCurso.foto !==null && aulaEnCurso.foto !=null"
                            class="avatar" [src]="url+aulaEnCurso.foto" alt="Foto del estudiante url">
                    </a>
                </div>
                <div class="card-content">
                    <h6 class="category text-gray">{{ aulaEnCurso.profesor }}</h6>
                    <h4 class="card-title">{{aulaEnCurso.aula}}</h4>
                    <p class="description">
                        Estudiantes: {{ aulaEnCurso.cantidad_estudiantes }}
                    </p>
                </div>
                <div class="card-footer">
                    <button (click)="irAula(aulaEnCurso)" class="btn btn-info btn-simple " rel="tooltip" type="button"
                        data-original-title="Ver" title="Ver">
                        <i class="material-icons">remove_red_eye</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button (click)="editar(aulaEnCurso)" class="btn btn-primary btn-simple " rel="tooltip"
                        type="button" data-original-title="Editar" title="Editar">
                        <i class="material-icons">edit</i>
                    </button>
                    <button (click)="eliminar(aulaEnCurso)" class="btn btn-danger btn-simple " rel="tooltip"
                        type="button" data-original-title="Eliminar" title="Eliminar">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-md-offset-4">

            <div class="center-block">
                <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                    previousLabel="Anterior" nextLabel="Seguiente">
                </pagination-controls>
            </div>
        </div>

    </ng-container>
</div>