<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{anioEscolar.nombre}}</h4>
                       
                        <div class="row" style="height: 30em;">
                            <div class="col-md-5">
                                <app-carga *ngIf="cargando">

                                </app-carga>
                                <div  *ngIf="!cargando" class="table-responsive table-sales pre-scrollable">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let area of aulaEnCursoAreasHijo; let i = index">
                                                <td>
                                                    <p>{{i+1}}</p>
                                                </td>
                                                <td>
                                                    <div class="flag">
                                                        <img [src]="url+area.imagen">
                                                    </div>
                                                </td>
                                                <td>{{area.nombre_area}}</td>
                                                <td class="text-right">
                                                    <button (click)="consultarArea(area)" class="btn btn-round btn-warning btn-mini">
                                                        <i class="material-icons">book_online</i>
                                                    </button>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>

                            
                            <div  class="col-md-7 ">
                                <app-carga *ngIf="cargando2">

                                </app-carga>
                                <div *ngIf="!cargando2" id="worldMap" class="map">
                                    <carousel >
                                        <slide>
                                            <img src="../../../assets/img/reyes-patio.jpg" alt="First slide"
                                                style="display: block; width: 100%;">
                                            <div class="carousel-caption d-none d-md-block">
                                               
                                               
                                            </div>
                                        </slide>
                                        <slide>
                                            <img src="../../../assets/img/reyes-patio2.png" alt="First slide"
                                                style="display: block; width: 100%;">
                                            <div class="carousel-caption d-none d-md-block">
                                               
                                               
                                            </div>
                                        </slide>
                                        <slide>
                                            <img src="../../../assets/img/reyes-patio3.png" alt="First slide"
                                                style="display: block; width: 100%;">
                                            <div class="carousel-caption d-none d-md-block">
                                               
                                               
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  
