<div class="nav-center espacio">
    <ul class="nav nav-pills nav-pills-info nav-pills-icons ul-pagination" role="tablist">

<li class="" *ngFor="let s of sesionesHijo | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
[ngClass]="sesion.numero === s.numero ? 'active':''" 
>
<a class="btn btn-simple" (click)="consultarSesion(s)" role="tab" data-toggle="tab">
<i class="material-icons">date_range</i>Sesión {{ s.numero }}
</a>

<div class="btn-sesion">
<button (click)="editar(s)" type="button" class="btn btn-sm btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Editar">
    <i class="material-icons">edit</i>
</button>
<button (click)="eliminar(s)" type="button" class="btn btn-sm btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Eliminar">
    <i class="material-icons">close</i>
</button>
</div>
</li>
    </ul>
<div class="center-block">
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

</div>

<div class="row">
<div class="col-md-8">
    <div id="typography">
        <div class="card-title">
            <h4>{{sesion.tema}}</h4>
        </div>
        </div>
</div>
<div class="col-md-4">
     <a [href]="sesion.link" class="btn btn-info"><i class="material-icons">videocam</i> Clase en Google Meet</a>
</div>    
</div>
<div class="row">
    <app-recursos [sesionHijo]="sesion" [recursosHijo]="recursos" ></app-recursos>

    <app-actividades [sesionHijo]="sesion" [actividadesHijo]="actividades"></app-actividades>

</div>
