<div class="col-md-12 espacio">
    <h3 class="card-title">Recursos
        <button type="button" title="Agregar Nuevo Recurso" 
        class="btn btn-primary btn-round btn-fab btn-fab-mini" 
        (click)="abrirModalRegistrarRecurso(template)"><i class="material-icons">add</i></button>
    </h3>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let recurso of recursosHijo">
        <div class="card card-pricing card-raised">
            <div class="content">
                <h6 class="category">{{recurso.tipo_nombre}}</h6>
                <div class="icon icon-danger">
                    <a [href]="recurso.contenido"> <i class="material-icons">{{recurso.nombre_icono}}</i></a>
                </div>
                <h5 class="card-title"><a href="#">{{recurso.titulo}}</a></h5   >
                <p class="card-description">
                    {{ humanFormat(recurso.fecha)}}
                </p>
            </div>
        </div>
    </div>

</div>
<div class="col-md-12">
    <h3 class="card-title">Actividades
        <button title="Agregar Nueva Actividad" class="btn btn-primary btn-round btn-fab btn-fab-mini" ><i class="material-icons">add</i></button>
    </h3>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let actividad of actividadesHijo" >
        <div class="card card-pricing card-raised">
            <div class="content">
                <h6 class="category">{{actividad.tipo_nombre}}</h6>
                <div class="icon icon-info">
                    <a href="#"><i class="material-icons">{{actividad.nombre_icono}}</i></a>
                </div>
                <h5 class="card-title"><a href="#">{{actividad.titulo}}</a></h5>
                <p class="card-description">
                   
                    {{ humanFormat(actividad.fecha_inicio)}}
                </p>
            </div>
            <div class="card-footer">
                <div class="stats pull-right">
                    <p class="category"><i class="material-icons">hourglass_bottom</i> Cerrado en 0 min.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <ng-template #template>
        <app-recurso-modal (hide)="bsModalRef.hide()" (recursos)="refrescarLista($event)" [accionHijo]="accion" [sesionNieto]="sesionHijo" [recursoHijo]="recurso"></app-recurso-modal>
    </ng-template>
