<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cambiar Contraseña
                        </h4>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating"
                                        [ngClass]="campoValido('passwordActual')?'has-error':''">
                                        <label class="control-label">Constraseña Actual*</label>
                                        <input type="password" class="form-control" formControlName="passwordActual"
                                            required />
                                        <ng-container *ngIf="campoValido('passwordActual')" class="text-danger">
                                            <span class="error-message">{{ mensajeError("passwordActual") }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating"
                                        [ngClass]="campoValido('passwordNuevo')?'has-error':''">
                                        <label class="control-label">Nueva Contraseña*</label>
                                        <input type="password" class="form-control" formControlName="passwordNuevo"
                                            required />
                                        <ng-container *ngIf="campoValido('passwordNuevo')" class="text-danger">
                                            <span class="error-message">{{ mensajeError("passwordNuevo") }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating"
                                        [ngClass]="campoValido('confirmar')?'has-error':''">
                                        <label class="control-label">Confirmar Contraseña*</label>
                                        <input type="password" class="form-control" formControlName="confirmar"
                                            required />
                                        <ng-container *ngIf="campoValido('confirmar')" class="text-danger">
                                            <span class="error-message">{{ mensajeError("confirmar") }}</span>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="this.passwordForm.get('confirmar').valid && passwordForm.invalid && passwordForm.errors.pwdsDontMatch"
                                            class="text-danger">
                                            <span class="error-message">Las contraseñas no coinciden</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-info btn-fill pull-right" type="submit"
                                        [disabled]="passwordForm.invalid">
                                        Guardar
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>